.card {
  box-sizing: border-box;
  background-image: url(https://i.vimeocdn.com/video/1339125201-98bad0269fd946ff0931cce114855a11490c8ad1069ebe163fe9342b9dfe93d0-d_640);
  align-items: stretch;
  aspect-ratio: 16/9;
  background-size: cover;
  animation: fade 1s ease-in;
  transition: all 0.2s;
  &-tab,
  &-title {
    color: white;
    opacity: 0;
    font-weight: bold;
    padding: 10px 0;
    transition: all 1s;
    font-family: "Montserrat-Light";
  }

  &-tab {
    font-size: 11px;
  }
  &-title {
    font-size: 18px;
    margin-bottom: 0px;
  }
  &:hover &-tab,
  &:hover &-title {
    opacity: 1;
  }

  &:hover {
    transform: translateY(-5px);
  }

  .box {
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    &:hover {
      background-color: rgba(#000, 0.5);
      padding: 10px 20px;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0.3;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
