.wapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadePopup 0.5s ease-in;
  z-index: 1000;
}
@keyframes fadePopup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 10%;
  width: 80%;
  height: 100vh;
  background-color: white;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-x: hidden;

  &-tab,
  &-title {
    padding-left: 35px;
  }
  &-tab {
    font-size: 12px;
    font-family: "Montserrat-Bold";
  }
  &-title {
    font-family: "Montserrat-Regular";
    font-size: 25px;
  }
}

.icon-close {
  box-sizing: border-box;
  position: absolute;
  background-color: #000;
  top: 1;
  right: calc(10% - 50px);
  width: 50px;
  height: 50px;
  padding: 10px;
  height: auto;
  cursor: pointer;
  .icon-image {
    width: 100%;
    height: 100%;
    transition: all 0.2s;
  }
  .icon-image:hover {
    transform: rotate(180deg);
  }
}

.video {
  position: relative;
  padding-bottom: 58%;
  overflow: hidden;
  iframe {
    position: absolute;
    left: 3%;
    width: 94%;
    height: 100%;
  }
}

.contact-us-btn {
  display: inline-block;
  align-self: center;
  padding: 14px 35px;
  background-color: #000;
  margin-bottom: 30px;
  color: #fff;
  border-radius: 5px;
  font-family: "Montserrat-Light";
}
