@font-face {
  font-family: "Montserrat-Light";
  src: url("./Assets/Fonts/Montserrat/Montserrat-Light.woff2");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("./Assets/Fonts/Montserrat/Montserrat-ExtraLight.woff2");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./Assets/Fonts/Montserrat/Montserrat-Bold.woff2");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("./Assets/Fonts/Montserrat/Montserrat-Medium.woff2");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./Assets/Fonts/Montserrat/Montserrat-Regular.woff2");
}

@font-face {
  font-family: "NotoSansCJKkr-Medium";
  src: url("./Assets/Fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.woff2");
}

@font-face {
  font-family: "NotoSansCJKkr-Light";
  src: url("./Assets/Fonts/NotoSansCJKkr/NotoSansCJKkr-Light.woff2");
}
